:root { /** color url: https://coolors.co/palette/161925-23395b-406e8e-8ea8c3-cbf7ed **/
    --main-background-color: #161925;
    --main-header-color: #23395b;
    --main-header-shadow-color: #406e8e;
    --main-menu-color: #CBF7ED;
    --main-menu-border: #8EA8C3;
}

html {
    background-color: var(--main-background-color);
}

@font-face {
    font-family: "Steelfish-Rg";
    src: url("assets/fonts/steelfish-rg.ttf");
}

@font-face {
    font-family: "Cascadia Code SemiLight";
    src: url("assets/fonts/CascadiaCode-SemiLight.ttf");
}

h1 { /** kituccino.dev header **/
    color: var(--main-header-color);
    font-family: "Steelfish-Rg", sans-serif;
    font-size: 80px;
    text-shadow: -3px 2px var(--main-header-shadow-color);
    padding: 10px;
    text-align: right;
    margin: 0;
    position: sticky;
    top: 0;
    -webkit-text-stroke: 1px var(--main-background-color);
}

#website-version {
    position: absolute;
    color: var(--main-menu-color);
    text-shadow: -3px 2px var(--main-header-shadow-color);
    text-align: left;
    top: 0;
    left: 0;
    padding-left: 15px;
    font-size: 25px;
    font-family: "Steelfish-Rg", sans-serif;
}

.menu {
    color: var(--main-menu-color);
    font-family: "Steelfish-Rg", sans-serif;
    font-size: 45px;
    padding: 5px;
    text-align: left;
    margin: 0;
    -webkit-text-stroke: 1px var(--main-menu-border);
    top: 0;
}

.menu-about-me {

}

.menu-about-me:hover {
    -webkit-text-stroke: 1px var(--main-menu-color);
    color: var(--main-background-color);
}

#about-me-h2 {
    color: var(--main-header-color);
    font-family: "Cascadia Code SemiLight", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-top: 150px;
    margin-left: 60px;
    padding-left: 30px;
    text-align: left;
    -webkit-text-stroke: 1px var(--main-menu-border);

}

#menu-about-me-a {
    color: inherit;
    transform: inherit;
    background-color: inherit;
    -webkit-text-stroke: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
}

.menu-projects {
    filter: brightness(50%);
}

.menu-projects:hover {
    -webkit-text-stroke: 1px var(--main-menu-color);
    color: var(--main-background-color);
}

#projects-h2 {
    color: var(--main-header-color);
    font-family: "Cascadia Code SemiLight", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-top: 150px;
    margin-left: 60px;
    padding-left: 30px;
    text-align: left;
    -webkit-text-stroke: 1px var(--main-menu-border);
    filter: brightness(50%);

}

#menu-projects-a {
    color: inherit;
    transform: inherit;
    background-color: inherit;
    -webkit-text-stroke: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
}

.menu-socials:hover {
    -webkit-text-stroke: 1px var(--main-menu-color);
    color: var(--main-background-color);
}

.menu-socials {
    filter: brightness(50%);
}

#socials-h2 {
    color: var(--main-header-color);
    font-family: "Cascadia Code SemiLight", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-top: 150px;
    margin-left: 60px;
    padding-left: 30px;
    text-align: left;
    -webkit-text-stroke: 1px var(--main-menu-border);
    filter: brightness(50%);
}

#menu-socials-a {
    color: inherit;
    transform: inherit;
    background-color: inherit;
    -webkit-text-stroke: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
}

.menu-blog:hover {
    -webkit-text-stroke: 1px var(--main-menu-color);
    color: var(--main-background-color);
}

.menu-blog {
    filter: brightness(50%);
}