/* Root Variables */
:root {
    --main-background-color: #161925;
    --main-header-color: #23395b;
    --main-header-shadow-color: #406e8e;
    --main-menu-color: #CBF7ED;
    --main-menu-border: #8EA8C3;
}

/* General Styles */
html {
    background-color: var(--main-background-color);
}

/* Fonts */
@font-face {
    font-family: "Steelfish-Rg";
    src: url("assets/fonts/steelfish-rg.ttf");
}

@font-face {
    font-family: "Cascadia Code SemiLight";
    src: url("assets/fonts/CascadiaCode-SemiLight.ttf");
}

/* Header Styles */
h1 {
    color: var(--main-header-color);
    font-family: "Steelfish-Rg", sans-serif;
    font-size: 80px;
    text-shadow: -3px 2px var(--main-header-shadow-color);
    padding: 10px;
    text-align: right;
    margin: 0;
    position: sticky;
    top: 0;
    -webkit-text-stroke: 1px var(--main-background-color);
}

/* Menu Styles */
.menu {
    color: var(--main-menu-color);
    font-family: "Steelfish-Rg", sans-serif;
    font-size: 45px;
    padding: 5px;
    text-align: left;
    margin: 0;
    -webkit-text-stroke: 1px var(--main-menu-border);
    top: 0;
}

/* About Me Section Styles */
#about-me-h2 {
    color: var(--main-header-color);
    font-family: "Cascadia Code SemiLight", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-top: 150px;
    margin-left: 60px;
    padding-left: 30px;
    text-align: left;
    -webkit-text-stroke: 1px var(--main-menu-border);
}

/* Projects Section Styles */
#projects-h2 {
    color: var(--main-header-color);
    font-family: "Cascadia Code SemiLight", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-top: 150px;
    margin-left: 60px;
    padding-left: 30px;
    text-align: left;
    -webkit-text-stroke: 1px var(--main-menu-border);
    filter: brightness(50%);
}

/* Socials Section Styles */
#socials-h2 {
    color: var(--main-header-color);
    font-family: "Cascadia Code SemiLight", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 60px;
    margin-top: 150px;
    margin-left: 60px;
    padding-left: 30px;
    text-align: left;
    -webkit-text-stroke: 1px var(--main-menu-border);
    filter: brightness(50%);
}

/* Blog Section Styles */
/* Add your```
