@tailwind base;
@tailwind components;
@tailwind utilities;

:root { /* Colors! */
    --night: #0b090aff;
    --eerie-black: #161a1dff;
    --silver: #b1a7a6ff;
    --timberwolf: #d3d3d3ff;
    --white-smoke: #f5f3f4ff;
}

body {
    background-color: #0c0a09;
    user-select: none;
}

header {
    color: var(--silver);
    font-family: "Exo", serif;
}

main {
    color: var(--timberwolf);
    font-family: "Exo", sans, serif;
}

footer  {
    font-family: "Exo", serif;
    color: #B1A7A6;
}

.active {
    color: floralwhite;

}

#project-highstorm {
    font-family: "Gloria Hallelujah", sans-serif;
}