@tailwind base;
@tailwind components;
@tailwind utilities;

:root { /* Colors! */
    --background-color: #161A1D;
    --header-color: #B1A7A6;
    --nav-color: #B1A7A6;
    --text-color: #D3D3D3;
    --text-highligther: #D8315B;
}

body {
    background-color: var(--background-color);
    user-select: none;
}

header {
    color: var(--header-color);
    font-family: "Exo", serif;
}

main {
    color: var(--text-color);
    font-family: "Indie Flower", serif;
}
