@tailwind base;
@tailwind components;
@tailwind utilities;

:root { /* Colors! */
    --background-color: #FFFAFF;
    --header-color: #0A2463;
    --nav-color: #3E92CC;
    --text-color: #1E1B18;
    --text-highligther: #D8315B;
}

body {
    background-color: #FFFAFF;
}

header {
    color: var(--header-color);
}

header h1 {
    font-family: "IBM Plex Mono", serif;
}

header span {
    color: var(--text-color);
    font-family: "Exo", serif;
}

main {
    color: var(--text-color);
    font-family: "Indie Flower", serif;
}

main span{
    color: var(--text-highligther)
}

