@font-face {
    font-family: "Akony";
    src: url("../fonts/akony.otf");
}

@font-face {
    font-family: "Bronson";
    src: url("../fonts/BRONSON-Black.ttf");
}

body {
    background-color: #F5F3F4;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/*HEADER SECTION*/
header h1 {
    font-family: "Akony", sans-serif;
    padding-left: 20px;
    color: var(--text-color);
}

nav {
    color: var(--text-color);
    padding-right: 100px;
    font-family: "Bronson", sans-serif;
    font-size: 30px;
}

nav a {
    color: inherit;
    transform: inherit;
    background-color: inherit;
    -webkit-text-stroke: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
}

.about-me-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#nav-go-back {
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background-color 0.3s;
    text-decoration: none;
    color: inherit;
    margin: 0 0 0 100px;
}

#nav-go-back:hover {
    color: #E5383B;
    transform: scale(1.1);
}

/*Website under const. banner - remove later*/
.construction-bar {
    font-family: "Cascadia Code SemiLight", sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: orange;
    color: black;
    text-align: center;
    padding: 0;
    z-index: 1000;
}

.animated-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: black;
    animation: moveLine 3s linear infinite;
}

@keyframes moveLine {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}
