:root {

}

html {
/* Add some color in here later */
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav{
    display: flex;
    justify-content: space-between;
}

nav > * {
    margin: 0 10px;
}

.opacity-placeholder {
    filter: opacity(50%);
}