:root {

}

html {
/* Add some color in here later */
}

header {
    text-align: center;
}

header nav {
    display: flex;
    justify-content: space-between;
}

main {
    text-align: center;
}

.opacity-placeholder {
    filter: opacity(50%);
}