/* Palette used as of a0.8: https://coolors.co/palette/590d22-800f2f-a4133c-c9184a-ff4d6d-ff758f-ff8fa3-ffb3c1-ffccd5-fff0f3*/

:root {
    --text-color: #FFF0F3;
    --animation-underline-color: #FFCCD5;
}

@font-face {
    font-family: "Akony";
    src: url("../fonts/akony.otf");
}

@font-face {
    font-family: "Bronson";
    src: url("../fonts/BRONSON-Black.ttf");
}

body {
    /* #800f2f, #ff758f*/
    background: rgb(128, 15, 47);
    background: linear-gradient(90deg, rgba(128, 15, 47, 1) 0%, rgba(255, 117, 143, 1) 100%);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header h1 {
    font-family: "Akony", sans-serif;
}

header {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    font-family: "Bronson", sans-serif;
    display: flex;
    justify-content: space-between;
}

nav a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

nav > * {
    margin: 0 10px;
}

nav a:hover {
    font-weight: bold;
}

main {
    color: var(--text-color);
}

main nav {
    display: flex;
    justify-content: center;
}

footer {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    color: var(--text-color);
    font-family: "Cascadia Code SemiLight", sans-serif;
}

.opacity-placeholder {
    filter: opacity(50%);
}

.socials {
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
}

.blog-post-snippet {
    margin: 50px 0 0 25%;
}

.post-snippet-info {
    font-size: 80%;
}

#nav-home, #nav-about, #nav-archive, #nav-notify-me {
    margin: 10px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, color 0.3s;
    text-decoration: none;
    color: var(--text-color);
}

#nav-home:hover, #nav-about:hover, #nav-archive:hover, #nav-notify-me:hover {
    color: var(--animation-underline-color);
    transform: scale(1.1);
}

#blog-header {
    display: flex;
    justify-content: center;
}

#copyright { /* Copyright notice */
    text-align: center;
    font-size: 15px;
}

#socials-text {
    font-size: 15px;
}

#socials-text a {
    text-decoration: none;
    color: inherit;
}

#socials-text a:hover {
    font-weight: bold;
}