/* Palette used as of a0.8: https://coolors.co/palette/590d22-800f2f-a4133c-c9184a-ff4d6d-ff758f-ff8fa3-ffb3c1-ffccd5-fff0f3*/

:root {
    --text-color: #FFF0F3;
    --animation-underline-color: #FFCCD5;
}

@font-face {
    font-family: "Akony";
    src: url("../fonts/akony.otf");
}

@font-face {
    font-family: "Bronson";
    src: url("../fonts/BRONSON-Black.ttf");
}

body {
    /* #800f2f, #ff758f*/
    background: rgb(128, 15, 47);
    background: linear-gradient(90deg, rgba(128, 15, 47, 1) 0%, rgba(255, 117, 143, 1) 100%);
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav > * {
    margin: 0 10px;
}

nav a:hover {
    font-weight: bold;
}

main {
    max-width: calc(100% - 50px);
    margin: 50px;
}

footer {
    position: fixed;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
}

.socials {
    color: black;
    display: flex;
    justify-content: space-around;
}

#copyright {
    text-align: center;
}