:root {
    --main-header-color: #000000;
    --main-menu-color: #000000;
    --about-me-text: #000000;
}

html {
    background: rgb(238, 174, 202);
    background: linear-gradient(90deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

body {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}


header {
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    width: 100%;
}

@font-face {
    font-family: "Steelfish-Rg";
    src: url("../fonts/steelfish-rg.ttf");
}

@font-face {
    font-family: "Cascadia Code SemiLight";
    src: url("../fonts/CascadiaCode-SemiLight.ttf");
}

@font-face {
    font-family: "Padyakke";
    src: url("../fonts/PadyakkeExpandedOne-Regular.ttf");
}

.menu {
    color: var(--main-menu-color);
    font-family: Padyakke, sans-serif;
    font-size: 45px;
    text-align: left;
    margin: 0;
    top: 0;
    padding: 5px 5px 80px;
}

.menu a {
    color: inherit;
    transform: inherit;
    background-color: inherit;
    -webkit-text-stroke: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: inherit;
}

.menu-about-me {
    display: inline-block;
    position: relative;
    color: black;
    line-height: 0.4;
    margin-top: 1em;
    margin-bottom: -1.5rem;
}

.menu-about-me::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    filter: opacity(70%);
}

/* END OF UNDERLINE ANIMATION */
.menu-about-me:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    filter: opacity(70%);
}

#about-me-text {
    color: var(--about-me-text);
    font-family: "Cascadia Code SemiLight", sans-serif;
    font-size: 20px;
    padding-left: 40px;
    padding-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
}

.socials {
    color: var(--about-me-text);
    display: flex;
    justify-content: space-around;
    font-family: "Cascadia Code SemiLight", sans-serif;
}

#socials-text {
    font-size: 15px;
}

#socials-text a {
    text-decoration: none;
    color: inherit;
}

#socials-text a:hover {
    font-weight: bold;
}

.menu-projects {
    display: inline-block;
    position: relative;
    color: black;
    line-height: 0.4;
    margin-top: 1em;
    margin-bottom: -1.5rem;
}

.menu-projects::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    filter: opacity(70%);
}

.menu-projects:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
    filter: opacity(70%);
}

.menu-blog {
    display: inline-block;
    position: relative;
    color: black;
    line-height: 0.4;
    margin-top: 1em;
    margin-bottom: -1.5rem;
}

.menu-blog::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    filter: opacity(70%);
}

.menu-blog:hover::after {
    transform: scaleX(1);
    transform-origin:
            bottom left;
    filter: opacity(70%);
}

#copyright { /* Copyright notice */
    font-family: "Cascadia Code SemiLight", sans-serif;
    text-align: center;
    font-size: 15px;
}
